@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header, .hero, .info, .quote-container, .action, .footer{
    padding-left: 200px;
    padding-right: 200px;
}

.links-header, .hero-text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

.header-text {
    font-size: 24px;
    margin: 5px;
    color: #f9faf8;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-top: 15px;
    padding-bottom: 15px;
}

li {
    display: inline;
    padding-left: 15px;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
    background-color: #1f2937;
    padding-top: 90px;
    padding-bottom: 120px;
    justify-content: space-between;
    align-items: center;
}

.hero-image {
    height: auto;
    width: 500px;
    display: flex;
    padding-left: 50px;
}

.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 25px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}

.info {
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
}

.info {
    display: flex;
    padding-bottom: 114px;
}

img {
    height: 180px;
    width: 180px;
}

.about-me {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.total-info {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text {
    text-align: center;
    color: #1f2937;
}

.quote-container {
    background-color: #e5e7eb;
}

.quote-total {
    display: flex;
    padding: 100px 150px;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin: 0;
}

.quote-sign {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
}

.sign-up-container {
    display: flex;
    background-color: #3882f6;
    margin: 100px 50px;
    padding: 50px 120px;
    color: #f9faf8;
    border-radius: 8px;
    justify-content:space-between;
}

.action-header {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.action-text {
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up-bottom {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 1px 32px;
    font-weight: bold;
    border-radius: 8px;
    border-color: #f9faf8;
}

.footer {
    background-color: #1f2937;
}

.copyright {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 30px;
}