@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

body {
    font-family: Roboto;
    margin: 0;
}

.header, .hero {
    padding-left: 130px;
    padding-right: 130px;
}

.links-header, .hero-text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

.header-text {
    font-size: 24px;
    margin: 5px;
    color: #f9faf8;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-top: 15px;
    padding-bottom: 15px;
}

li {
    display: inline;
    padding-left: 15px;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
    background-color: #1f2937;
    padding-top: 90px;
    padding-bottom: 90px;
    justify-content: space-between;
    align-items: center;
}

.hero-image {
    height: auto;
    width: 500px;
    display: flex;
    padding-left: 50px;
}

.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 25px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}